.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name--form
      .Side-bar__user-name--form--name
        = current_user.name
      .Side-bar__user-name--form--icon
        = link_to new_group_path do
          = icon('far',"edit", class: "edit-btn")
        = link_to edit_user_path(current_user) do
          = icon('fas', "cog", class: "cog-btn")
  .Side-bar__group-list
    - current_user.groups.each do |group| 
      .Side-bar__group-list--message-box
        = link_to group_messages_path(group) do
          .Side-bar__group-list--message-box--group-name
            = group.name
          .Side-bar__group-list--message-box--message
            = group.show_last_message
     