.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name--form
      .Side-bar__user-name--form--name
        = current_user.name
      .Side-bar__user-name--form--icon
        = link_to "#" do
          = icon('far',"edit", class: "edit-btn")
        = link_to edit_user_path(current_user) do
          = icon('fas', "cog", class: "cog-btn")
  .Side-bar__group-list
    .Side-bar__group-list--message-box
      .Side-bar__group-list--message-box--group-name
        techcamp
      .Side-bar__group-list--message-box--message
        まだメッセージがありません
    .Side-bar__group-list--message-box
      .Side-bar__group-list--message-box--group-name
        techcamp
      .Side-bar__group-list--message-box--message
        まだメッセージがありません
    .Side-bar__group-list--message-box
      .Side-bar__group-list--message-box--group-name
        techcamp
      .Side-bar__group-list--message-box--message
        まだメッセージがありません